p {
color: #000000;
}

body {
	font-size: 14px;
	background-color: #FFFFFF; 
}

h1 {
	background-color: #FFFFFF;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 5%;
	padding-top: 5%;
	
	
}

#maincontent{
	margin-left: 150px;
	padding-left: 25px;
	margin-right: 5%;
	
}


.centerMe {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 150px;
	background-color: #F1F1F1;
	position: fixed;
	
}

nav ul li a{
	display: block;
    padding: 8px;
    background-color: #dddddd;
	float: left;
	text-decoration: none;
	color: #000;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	
}

nav ul li a :hover {
	background-color: #555555;
	color: #FFFFFF;
	
}

.active {
	background-color: #7cc3ef;
	color: #FFF;
}

@media screen and (max-width: 600 px) {
	nav {
		display: none;
	}	
	#maincontent{
		margin-left: 5%;
		margin-right: 5%;
	}
}














