p {
color: #000000;
}

body {
	font-size: 14px;

}


h1 {
	font-family: 'Raleway', sans-serif;
	background-color: #5B9AD3;
	color: #fff;
	padding-bottom: 5%;
	padding-top: 5%;
	text-align: center;
	
	
}

#maincontent{
	font-family: 'Raleway', sans-serif;
	margin-left: 5%;
	padding-left: 25px;
	margin-right: 5%;
	margin-top: 5%;
	text-align: center;
	
}


.centerMe {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

nav ul {
	font-family: 'Raleway', sans-serif;
	list-style-type: none;         
	margin: 0;         
	padding: 0;        
	background-color: #f1f1f1;         
	width: 130px;         
	position: fixed;        
	height: 100%;         
	top: 0;        
	left: 0;
	
}

nav ul li a{
	display: block;
	text-decoration: none;        
	color: #000;
	padding-left: 16px;         
	padding-top: 8px;         
	padding-bottom: 8px;
	
}

nav ul li a :hover {
		background-color: #66aeed;
		color: #fff;
	
}

.active {
	background-color: #5B9AD3;
	color: #FFF;
}

img {
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
    border-style: solid;
    border-width: 5px;
	border-color: Lightblue;
}



@media screen and (max-width: 350 px) {
	
	}
		nav ul {
		font-family: 'Raleway', sans-serif;
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: #f1f1f1;
		position: fixed;
		top: 0;
		left: 0;
		height: auto;
		
	}

	nav ul li a{
		display: block;
		text-decoration: none;
		color: #000;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 8px;
		padding-right: 8px;
		transition: 1s;
		
	}
	
	nav ul li a {
		float: left;
		
	}
	#maincontent{
		margin-left: 5%;
		margin-right: 5%;
		padding-top: 5%;
}














